html{
  width:100vw ;
  heigh : 100vh;
  display:flex;
  flex-direction:column-r;
  align-items: center;
  justify-content:center;
  background-image: url('assets/estampe.jpg');
  
}
body{
  width:100vw ;
  heigh : 100vh;
  box-sizing:border-box;
  display:flex;
  align-items: center;
  justify-content:center;
  overflow: hidden;
 
  
}
#loader {
  width: 100px;
  height: 100px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 200px auto;
  z-index: -100; /* Placer la barre de chargement en arrière-plan */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


